:root {

  --white: #fff;
  --blue-light: #C3E3FD;
  --blue-primary: #2873FF;
  --cyan-light: #D3FDFF;
  --blue-dark: #023047;
  --teal-dark: #004346;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font declarations */
@font-face {
  font-family: 'Lugoj';
  src: url('/fonts/Lugoj.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Saol';
  src: url('/fonts/Saol.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Black';
  src: url('/fonts/Black.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Medium';
  src: url('/fonts/Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Light';
  src: url('/fonts/Light.woff2') format('woff2');
  font-display: swap;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Medium', inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
