:root {

  --blue-light: #6dabf1;
  --blue-primary: #072AC8;
  --blue-dark: #0a0552;
  --cyan-light: #D3FDFF;
  --teal-dark: #004346;
  --grey-text: #666666;
  --grey-light: #aaaaaa;
  --grey-dark: #444444;
  --white-blue: #c7e8ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font declarations */
@font-face {
  font-family: 'Lugoj';
  src: url('/fonts/Lugoj.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Saol';
  src: url('/fonts/Saol.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Black';
  src: url('/fonts/Black.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Medium';
  src: url('/fonts/Medium.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('/fonts/Canela.otf') format('opentype');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'Filson';
  src: url('/fonts/Filson.otf') format('opentype');
  font-display: swap;
}